@import "tailwindcss";

:root {
  font: 18px/145% var(--sans);
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
